*{
    margin: 0%;
    padding: 0%;
    font-family: calibri;
    user-select: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background:linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

#main{
    border: 2px solid crimson;
    border-radius: 6px;
    width: 250px;
    height: 350px;
}

#img{
    height: 150px;
    border-radius: 50%;
    -webkit-user-drag: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

h1{
    text-align: center;
    user-select: text;
}

#btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    width: 170px;
    height: 42px;
    font-size: 26px;
    border-radius: 6px;
    border: 0px;
    background-color: rgb(226, 21, 62);
    cursor: pointer;
    color: white;
    transition-duration: 0.4s;
}

#btn:hover{
    background-color: rgb(255, 0, 51);
}

#btn:focus{

    opacity: 0.7;
}

#btn-a{
    text-decoration: none;
    color: white;
}